doctype html
html
	head
		meta(charset="utf-8")
		meta(name = "viewpoint", content="width = device-width, initial-scale = 1/0")
		meta(name="description", content = "")
		meta(name = "description", content = "")

		title #{title}|LOLDex

		link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		block pageStyleSheet

		link(rel='icon', href = 'http://cdn.leagueoflegends.com/lolkit/1.1.5/resources/images/favicon.ico',type="image/vnd.microsoft.icon")
		script(src = '/javascripts/jquery.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src = '/javascripts/nav.js')
		block pageScript
	body
		div.navbar.navbar-fixed-top
			div.container
				div.navbar-header
					a.navbar-brand(href="/")
						img#logo(src='/images/logo.png', alt='')
					a.navbar-toggle(data-toggle="collapse", datatarget=".navbar-collapse")
						span.glyphicon.glyphicon-chevron-down

				div.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a.dropdown-toggle(href="#", data-toggle="dropdown") Explore
								span(style="margin-left:5px").glyphicon.glyphicon-chevron-down
							ul.dropdown-menu
								li
									a(href="/searchChampion") Search Champion
								li
									a(href="/searchItem") Search Item
								li
									a(href = "/explore") Other

					ul.nav.pull-right.navbar-nav
						if (!user)
							li.dropdown#login
								a.dropdown-toggle(href="#", data-toggle="dropdown") Login
									span(style='margin-left:5px;').glyphicon.glyphicon-chevron-down
								ul.dropdown-menu(aria-labelledby="dLabel")
									div.ddmenuContent
										div.form-group
											input.form-control(type="name", name="name", placeholder="User Name")#logUserName
										div.form-group
											input.form-control(type="password", name="password", placeholder="Password")#logPassword
										div.form-group
											button.form-control.btn.btn-primary#loginSubmit Login

							li.dropdown
								a.dropdown-toggle(href="#", data-toggle="dropdown") Register
									span(style='margin-left:5px;').glyphicon.glyphicon-chevron-down
								ul.dropdown-menu(aria-labelledby="dLabel")
									div.ddmenuContent
										li.form-group
											input.form-control(type='text', placeholder='User Name',name = 'name')#regUserName
										li.form-group
											input.form-control(type='password', placeholder = 'Password', name='password')#regPassword
										li.form-group
											input.form-control(type='password', placeholder = 'Password Confirm', name= "password-repeat")#confPassword
										li.form-group
											button.form-control.btn.btn-primary#registerSubmit Register
						else
							li
								a(href = '/#{user.UserName}') Profile
							li#logout
								a(href= "/logout") Logout

		div.container#container
			div.spacer
			block content