extends layout

block pageScript

block pageStyleSheet
	link(rel='stylesheet', href='/stylesheets/searchChampion.css')

block content
	div#searchContent.col-md-4
		h3 Search Champion
		div.panel-group#accordion(style = "margin-top:10px")
			div.panel.panel-default
				div.panel-heading
					h4.panel-title
						a(data-toggle="collapse", data-parent="#accordion", href="#searchByCat")
							b Search By Category
				div#searchByCat.panel-collapse.collapse.in
					div.panel-body
			div.panel.panel-default
				div.panel-heading
					h4.panel-title
						a(data-toggle="collapse", data-parent="#accordion", href="#searchByInfo")
							b Search By Infomation
				div#searchByInfo.panel-collapse.collapse
					div.panel-body
	div#searchResult.col-md-6
		h3 Search Result